body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usernameselect p,
.usernameselect input {
    display: inline;
    margin-right: 5px;
}

.game-and-watch {
    display: flex;
        align-items: flex-start;
}

.game-container {
    flex: 1;
}

.leaderboard-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px; /* Adjust the width as needed */
}
